<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <h2 class="text-center mb-4">Select Doctor</h2>
    <div class="d-flex align-items-center h-100">
        
        <form method="post" action="{% url 'confirm_token' %}" class="form-inline mx-auto" style="width: 300px; height: 50px; margin:auto">
            {% csrf_token %}
            <div class="d-flex align-items-center">
                <div class="form-group mx-sm-3">
                    <select class="form-control" name="doctor">
                        {% for doctor in doctors %}
                            <option value="{{ doctor.id }}">{{ doctor.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <input class="btn btn-primary" type="submit" value="Select">
            </div>
        </form>
    </div>
</body>

</html>
